* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.login {
  margin-top: 10%;
}

.login img {
  width: 50px;
}

.error {
  color: #f00;
}

.profile img {
  display: inline-block;
  width: 100px;
  border-radius: 50%;
}

label {
  padding-right: 10px;
}

input,
button {
  height: 30px;
  border: 1px solid #333;
  margin: 5px auto;
  padding: 5px;
  display: block;
}

input {
  width: 200px;
  display: inline-block;
}

button {
  padding: 5px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #000;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

span {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 3px;
}

.closed {
  background-color: #b60205;
}

.closed:before {
  content: "Closed";
}

.merged {
  background-color: #5319e7;
}

.merged:before {
  content: "Merged";
}

.open {
  background-color: #34d0d8;
}

.open:before {
  content: "Open";
}
